<h1 style="color:red">
    New Azure Container
</h1>

<form method="post">
    <label>Nombre del contenedor: </label>
    <input type="text" name="containername"
           class="form-control" />
    <button class="btn btn-info">
        Create
    </button>
</form>
