<h1>Upload Blob</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="file"/>
    <input type="hidden" name="containername"
        value="@ViewData["CONTAINER"]"/>
    <button class="btn btn-dark">
        Upload File
    </button>
</form>