@model List<string>



<h1>Azure Storage Files</h1>



<a asp-controller="AzureFiles" asp-action="UploadFile">Upload File</a>



@if (Model != null)
{
    <ul class="list-group">
        @foreach (string fileName in Model)
        {
            <li class="list-group-item">
                @fileName
                <a asp-controller="AzureFiles" asp-action="ReadFile" asp-route-filename="@fileName" class="btn btn-warning">Read</a>
                <a asp-controller="AzureFiles" asp-action="DeleteFile" asp-route-filename="@fileName" class="btn btn-warning">Delete</a>
            </li>
        }
    </ul>
}